<div class="sidebar mt-2 position-fixed  start-0">
    <div class="vh-100  d-flex flex-column justify-content-center align-items-center g-2 bg-black">
      <div class="col-12 pb-3 mb-3 text-center">
        <a class="text-decoration-none fw-bold text-white text-light" href="/admin/home">Dashboard</a>
      </div>
      <div class="col-12 py-3 my-3  text-center">
        <a class="text-decoration-none fw-bold text-white text-light" href="/admin/sales">Sales Report</a>
      </div>
      <div class="col-12 py-3 my-3  text-center ">
        <a class="text-decoration-none fw-bold text-white text-light" href="/admin/products">Products</a>
      </div>
      <div class="col-12 py-3 my-3  text-center">
        <a class="text-decoration-none fw-bold text-white text-light" href="/admin/users">Users</a>
      </div>
      <div class="col-12 py-3 my-3  text-center">
        <a class="text-decoration-none fw-bold text-white text-light" href="/admin/orders">Orders</a>
      </div>
     
      <div class="col-12 py-3 my-3  text-center">
        <a class="text-decoration-none fw-bold text-white text-light" href="/admin/categories">Category</a>
      </div>
      <div class="col-12 py-3 my-3  text-center">
        <a class="text-decoration-none fw-bold text-white text-light" href="/admin/coupons">Coupons</a>
      </div>
      <div class="col-12 py-3 my-3  text-center">
        <a class="text-decoration-none fw-bold text-white text-light" href="/admin/banners">Banners</a>
      </div>
      <div class="col-12 py-3 my-3  text-center">
        <a class="text-decoration-none fw-bold text-white text-light" href="/admin/offers">Offers</a>
      </div>

    </div>

  </div>